@font-face {
  font-family: 'KyoboHandwriting2020A';
  src: url('https://cdn.jsdelivr.net/gh/tomato0018/my-fonts@main/fonts/KyoboHandwriting2020A.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
